{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default {% endblock %}</title>
    {% tailwind_css %}
    {% block head %} {% endblock %}
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
    <nav class="flex h-14 items-center mx-3">
    <h3 class="text-xl"><a href="{% url 'homepage'%}">BlogSite</a></h3>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>