{% extends 'base_temp.html'%}
{% block title %}HomePage {% endblock %}

{% block content%}
<div class="bg-slate-900 flex flex-row justify-center  h-screen">

    <h2>
    {% if form.instance.pk %} 
    Edit Tweet 
    {% else %}
    Create Tweet 
    {% endif %}
    <form method="post" class="bg-blue-300" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Save</button>
        <a href="{% url 'homepage' %}">Back to home</a>
    </form>
</h2>

</div>

{% endblock %}