{% extends 'base_temp.html'%}
{% block title %}HomePage {% endblock %}

{% block content%}
<div class="bg-slate-900 flex flex-row justify-center  h-screen">


    {% for blog in blogs %}

    <div class=" text-black p-4 w-80">
        <div class="flex flex-col  overflow-hidden p-5 justify-between bg-slate-300 rounded-md max-w-80">
            
                <img src="{{blog.image.url}}" alt="image" class="rounded-md shadow-lg object-cover">
                <div class="mt-5">
                    <h3 class="text-xl hover:text-yellow-200">{{blog.title}}</h3>
                     <p class="text-balance text-gr\">{{blog.content}}</p>
                </div>
                <a href="#"><button>Edit</button></a>
                <a href="#"><button>Delete</button></a>
                
        </div> 
        
   
    </div>


    {% endfor %}

</div>

{% endblock %}