{% extends 'base_temp.html'%}
{% block title %}HomePage {% endblock %}



{% block content%}


<div class="h-12 px-2 flex justify-center items-center bg-[#ffffff]">
    <a href="{% url 'blog_create'%}"><button class="bg-[#6401d4] p-2 text-white h-10 rounded-md  hover:bg-[#3e0085] shadow-xl"><i class="ri-pencil-line"></i> Create New Blog</button></a>
</div>
<div class="container mx-auto">
        <h1 class="text-3xl font-bold mb-6">All Blogs</h1>
       
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            <!-- Blog Post Example -->
             {% for blog in blogs %}
            <div class="bg-white shadow-md rounded-lg">
                <img src="{{blog.image.url}}" alt="Blog Image" class="w-full h-48 object-cover rounded-t-lg">
                <div class="p-4 rounded-lg">
                    <h2 class="text-xl font-semibold mb-2">{{blog.title}}</h2>
                    <p class="text-gray-700" id="excerpt-{{blog.id}}">{{blog.content|truncatewords:20 }}</p>
                    <h6 class="text-xs text-gray-500">Blog by - {{blog.user.username}}</h6>
                    {% if blog.user == user %}
                    <div class="mt-5">
                     <a href="{% url 'blog_edit' blog.id %}" class="text-2xl"><button class="hover:text-blue-700"><i class="ri-edit-box-line"></i></button></a>
                    <a href="{% url 'blog_delete' blog.id %}" class="text-2xl"><button class="hover:text-[#ff1515]"><i class="ri-delete-bin-6-line"></i></button></a>
                        
                        
                
                    </div>
                    {% endif %}
                </div>
            </div>
    {% endfor %}
    </div>
    </div>


</div>


{% endblock %}